<h1>prefectures_senryuとは</h1>

prefectures = 都道府県
senryu =　川柳

つまり都道府県についての川柳を作成するサイトです。</br>
オススメを紹介する投稿でも、ニッチな部分でのあるあるネタでも、なんでもOKです。</br>
このサイトでは長い文章など不要です。</br>
ぱっとみて、共有、楽しむをテーマに作成しました。</br>
みなさんの伝える能力が試されます、理解ができたら早速投稿してみましょう。</br>


aaaaaaaaaaaaaaaaaa
