<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
<h1>通知一覧</h1>
   </div>
 </div>
</div>


  <% if @notifications_check.exists? %>
    <%= render @notifications_check %>
  <% else %>
     通知はありません
  <% end %>

   </div>
 </div>
</div>